commands:
  01_create_cron:
    command: |
      echo "*/5 * * * * /var/app/venv/*/bin/python /var/app/current/manage.py auto_sync_emails >> /var/log/friendlymail-cron.log 2>&1" | crontab -
    ignoreErrors: true
  02_create_log_file:
    command: "touch /var/log/friendlymail-cron.log && chmod 666 /var/log/friendlymail-cron.log"

files:
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/friendlymail.conf":
    content: |
      /var/log/friendlymail-cron.log
