option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: /var/app/current:$PYTHONPATH
    DJANGO_SETTINGS_MODULE: friendlymail.settings
  aws:elasticbeanstalk:container:python:
    WSGIPath: friendlymail.wsgi:application
  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: staticfiles/

commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate"
    leader_only: true
  02_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"

container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true
